.hero {
    background: url('../../../public/Cloudy.svg') no-repeat center bottom / cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.hero__messageContainer {
    max-width: 500px;
    color: white;
    padding: 1rem;
}

.hero__messageContainer h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.view-button {
    background-color: #ECBC3E;
    padding: 1rem;
    color: #0E2645 !important;
    width: fit-content;
    border: 3px solid #ECBC3E;
    cursor: pointer;
    border-radius: 10px;
}

.view-button:hover {
    background-color: white;
    color: #0E2645 !important;
}