.offer-section {
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.header-container h1 {
    font-weight: bold;
}

.carousel-container {
    padding: 0 20rem;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}