.details-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.identifier-container ul {
    list-style-type: none;
}

.header-message {
    margin-top: 10px;
    margin-bottom: 10px;
}